
<div class="info">
    <a href="https://www.facebook.com/groups/RUSERVS" target="_blank" rel="noopener noreferrer" class="info-box">
      <div class="addBackground">
        <span>Join our meetings!</span>
        &nbsp;
        <br>
        <span>We host bi-weekly meetings open to all individuals. We value your input!</span>
      </div>
  
      <div class="button" tabindex="0" role="button" style="color:black;">
        Meet with us!
      </div>
    </a>
    
    <a href="https://www.rutgers.edu/event/student-veteran-golf-series" class="info-box">
      <span>Golf Series</span>
      <strong style="color:white;">Explore our beautiful campus golf course! Join us on Saturdays!</strong>
      <div class="button" tabindex="0" role="button" style="color:black;">
        Golf with us!
      </div>
    </a>
    
    <a href="https://admissions.rutgers.edu/apply-rutgers?_ga=2.224634458.1103223968.1639516728-1534716471.1638742970" aria-label="Collect Application Page" target="_blank" rel="noopener noreferrer"class="info-box">
      <div class="button" style="color:black;" tabindex="0" role="button">
        Apply Now!
      </div>
    </a>
    
    <a href="https://veterans.rutgers.edu/resources/education-benefits?_ga=2.254004040.1103223968.1639516728-1534716471.163874297\" aria-label="To learn more about our educational programs" target="_blank" rel="noopener noreferrer" class="info-box">
      <span role="text">Veteran and Military-Affiliated</span>
      <span role="text">Our faculty and advisors will assist you in achieving success.</span>
      <div class="button" tabindex="0" role="button" style="color:black;">
        Educational Benefits & Points of contact
      </div>
    </a>
  </div>